<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Redefinição de Senha</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
      text-align: center;
    "
  >
    <div
      style="
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        max-width: 500px;
        margin: auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      "
    >
      <h2 style="color: #333">Redefinição de Senha</h2>
      <p>Olá <strong>{{ user.first_name }}</strong>,</p>
      <p>
        Você solicitou a redefinição da sua senha. Use o código abaixo para
        continuar o processo:
      </p>
      <p
        style="
          font-size: 24px;
          font-weight: bold;
          background-color: #007bff;
          color: #fff;
          padding: 10px;
          border-radius: 5px;
          display: inline-block;
        "
      >
        {{ reset_code }}
      </p>
      <p>O código é válido por 20 minutos.</p>
      <p>Se você não solicitou essa alteração, ignore este e-mail.</p>
      <p>Atenciosamente,<br />Equipe Ecomonitor</p>
    </div>
  </body>
</html>
